<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
<form action="" method="post">
<br>
<br>
{{ form.hidden_tag() }}
<div>
    {{ form.text.label }}
    {{ form.game_name(class="form-control")}}<br>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</div>
    <div class="container">
{% for game in games %}
        <div class="container">
        <img src={{game['picture_url']}} width="100" height="100" />

            <a>  Название: {{game['game_name']}} </a>
        <a> Жанр:{{game['genre']}} </a>
            {% if game['cost'] == 0 %}
        <a> Стоимость: бесплатно</a>
        {% else %}
        <a> Стоимость: {{game['cost']}}&#8381;</a>
        {% endif %}
        <a class="btn btn-info" href="/games/{{game['game_name']}}">Посмотреть подробности</a>
        </div>
        <br>
{% endfor %}
    </div>
</form>
{% endblock %}
</html>