{% extends "base.html" %}

{% block content %}
<p>Для просмотра каталога, фотографий котиков и твоих купленных игр есть специальная плашка чуть выше</p>
<p>Надо просто нажать на кнопку с нужной надписью</p>
<p>Чтобы перейти в профиль нажми кнопку c надписью Пользователь:...</p>
<p>Если не зарегестрировался или не вошел, нажми на кнопки слева сверху</p>
<p>Если хочешь выйти из аккаунта, нажми кнопку слева сверху</p>
<p>Если вы разработчик и хотите выпустить игру, перейдите в профиль и нажмите соответствующую кнопку</p>
<p>Если вы хотите сменить аватарку, зайдите в профиль и нажмите соотвествующую кнопку</p>
<p>Если есть желание вернуться на главную страницу, нажми кнопку сверху с соотвествующей надписью</p>
{%endblock%}